html,
body {
  padding: 0;
  margin: 0;
  font-family: GTWalshiem;
  overflow-x: hidden;
}

@font-face {
  font-family: GTWalshiem;
  src: url('../public/fonts//GT-Walsheim-Regular-Trial.otf') format('opentype');
}

@font-face {
  font-family: GTWalshiem;
  font-weight: bold;
  src: url('../public/fonts//GT-Walsheim-Bold-Trial.otf') format('opentype');
}

@font-face {
  font-family: GTWalshiem;
  font-weight: 600;
  src: url('../public/fonts//GT-Walsheim-Medium-Trial.otf') format('opentype');
}
